@page "{guid}"
@model KinoProgram.Webapp.Pages.Cinema.DetailsModel
@section head
{
    <style>
        .inf {
            display: flex;
            width: 75%;
            margin: auto;
        }
        .inf-left {
            width: 50%;
        }

        .bg {
            background-image: url('/Images/weekly-background.jpg');
            height: 100%;
            width: 100%;
            position: fixed;
            background-position: center;
            background-size: cover;
            top: 0;
            left: 0;
            z-index: -5;
        }
        .det-div{
            background-color: white;
            width: 50%;
            height: 100%;
            margin: auto;
            padding-top: 5%;
        }
        .center{
            text-align: center;
        }

    </style>

}
<div class="bg">
    <div class="det-div">
        <h1 class="center">Details for the Movie</h1>
        <div class="inf">
            <div class="inf-left">
                <h3>Name: @Model.Movie.Name</h3>
                <h3>Genre: @Model.Movie.MovieCategory.ToString()</h3>
                <h3>Duration: @Model.Movie.Duration Minutes</h3>
                <h3>Releasedate: @Model.Movie.ReleaseDate.ToString("yyy-mm-dd")</h3>
                <br /><br />
                <a href="/Cinema/Movies">to movie list</a>
            </div>
            <div class ="inf-right">
                <h3>Description: <br />@Model.Movie.Description</h3>
            </div>
        </div>
    </div>
</div>