@page
@model KinoProgram.Webapp.Pages.Cinema.IndexModel

<h3>Movies in Databank</h3>
<p>Erstellt um @DateTime.Now</p>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Name</th>
            <th>Duration</th>
            <th>ReleaseDate</th>
            <th>MovieCategory</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var m in Model.WeeklyProgams)
        {
            <tr>
                <td>@m.CalendarWeek</td>
                <td></td>
                <td>@m.ReleaseDate</td>
                <td>@m.MovieCategory.ToString()</td>
                <td><a href="@($"/Cinema/Details/{m.Guid}")">Details</a></td>
            </tr>
        }
    </tbody>
</table>