@page
@model KinoProgram.Webapp.Pages.Cinema.IndexModel
@section head {
    <style>
        .weeks {
            display: flex;
            flex-wrap: wrap;
            gap: 25px;
            margin: auto;
            width: 1000px
        }
        .week {
            width: 225px;
            height: 225px;
            display: flex;
            flex-direction: column;
            border: 1px solid black;
            background-color: #f7f7f5;
            cursor: pointer;
        }
        .week:hover{
            background-color: lightgray;
        }
        .noweek {
            cursor: default;
        }
        .noweek:hover{
            background-color: #f7f7f5;
        }

        .weekHeader {
            font-size:140%;
            height: 25%;
            margin: 12% 5%;
            border-bottom: 1px solid black;
        }
        .weekBody {
            margin: 5% 10%;
        }

        a.fill-div {
            display: block;
            height: 100%;
            width: 100%;
            text-decoration: none;
        }
    </style>
}
        <h3>Weeklyprogram</h3>
        <p>Erstellt um @DateTime.Now</p>
            <div class="weeks">
                @foreach (var w in Model.WeeklyPrograms)
                {
                    if (w.MoviesCount > 0)
                    {
                        <div class="week" onclick="location.href='@($"/Cinema/WeekProgram/{w.WeekNumber}")'">
                        <div class="weekHeader">Week @w.WeekNumber</div>
                        <div class="weekBody">
                            <div class="genreList">Genre:<br />@w.GenreList</div>
                        </div>
                    </div>
                    }
                    else
                    {
                       <div class="week noweek">
                        <div class="weekHeader">Week @w.WeekNumber</div>
                        <div class="weekBody">
                            <div class="genreList">Genre:<br />@w.GenreList</div>
                        </div>
                    </div> 
                    }
                }
            </div>