@page
@model KinoProgram.Webapp.Pages.Cinema.IndexModel

<h3>Movies in Databank</h3>
<p>Erstellt um @DateTime.Now</p>

<table class="table table-sm">
    <thead>
        <tr>
            <th>CalendarWeek</th>
            <th>Movies</th>
            <th>Genres</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var w in Model.WeeklyProgams)
        {
            <tr>
                <td>@w.CalendarWeek</td>
                <td>@w.Movies</td>
                <td>@w.</td>
                <td>@w.</td>
            </tr>
        }
    </tbody>
</table>