@page
@model KinoProgram.Webapp.Pages.Cinema.MoviesModel
@section head 
{
}
<h3>The Cinema program of this Week</h3>
<p>Created at @DateTime.Now.ToString("HH:mm").</p>

<form method="post" asp-page-handler="NewMovie">
    <div class="row">
        <div class="col-12 col-sm-6">
            <label asp-for="NewMovie.Name">Name</label>
            <input class="form-control" asp-for="NewMovie.Name" />
            <span class="text-danger" asp-validation-for="NewMovie.Name"></span>
        </div>
        <div class="col-12 col-sm-6">
            <label asp-for="NewMovie.ReleaseDate">ReleaseDate</label>
            <input type="date" class="form-control" asp-for="NewMovie.ReleaseDate" />
            <span class="text-danger" asp-validation-for="NewMovie.ReleaseDate"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label asp-for="NewMovie.Duration">Duration</label>
            <input class="form-control" asp-for="NewMovie.Duration" />
            <span class="text-danger" asp-validation-for="NewMovie.Duration"></span>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label asp-for="NewMovie.Description">Description</label>
            <input class="form-control" asp-for="NewMovie.Description" />
            <span class="text-danger" asp-validation-for="NewMovie.Description"></span>

        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <label asp-for="NewMovie.MovieCategory">Genre</label>
            <select class="form-control" asp-for="NewMovie.MovieCategory" asp-items="Html.GetEnumSelectList<models.MovieCategory>()"></select>
            <span class="text-danger" asp-validation-for="NewMovie.MovieCategory"></span>

        </div>
    </div>
    <div class="mt-3 text-danger" asp-validation-summary=All></div>
    <button class="btn-primary btn" type="submit">Add movie</button>
</form>

<form method="post">

    <table class="table table-sm">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
                <th>Duration</th>
                <th>Releasedate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var m in Model.Movies)
            {
                <tr>
                    <td>
                        <input type="hidden" asp-for="EditMovies[m.Guid].Guid" />
                        @m.Name</td>
                    <td>@m.MovieCategory.ToString()</td>
                    <td><input type="number" asp-for="EditMovies[m.Guid].Duration" /></td>
                    <td>@m.ReleaseDate.ToString("yyy-mm-dd")</td>
                    <td>
                        <a asp-page="/Cinema/Details" asp-route-guid="@m.Guid">Details</a>
                        <a asp-page="/Cinema/Edit" asp-route-guid="@m.Guid">Edit</a>
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary"
                                asp-page-handler="EditMovie" asp-route-movieguid="@m.Guid">
                            Save
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</form>

