@page "{WeekNumber}"
@model KinoProgram.Webapp.Pages.Cinema.WeekProgramModel
@section head 
{
}
<h3>The program of this Week</h3>
<p>Created at @DateTime.Now.ToString("HH:mm").</p>

<form method="post" asp-page-handler="NewWeekProgram">
    <div class="row">
        <div class="col-6">
            <label asp-for="NewWeekProgram.Movie">Movie</label>
            <select class="form-select" 
                asp-items="@Model.MovieSelectList"
                    asp-for="NewWeekProgram.Movie"></select>
        </div>
        <div class="col-6">
            <label asp-for="NewWeekProgram.CinemaHall">Hall</label>
            <select class="form-select"
                    asp-items="@Model.HallSelectList"
                    asp-for="NewWeekProgram.CinemaHall"></select>
        </div>
        <div class="col-6">
            <label asp-for="NewWeekProgram.PlayTime">PlayTime</label>
            <input type="date" class="form-control" asp-for="NewWeekProgram.PlayTime" />
            <small>
                <span class="text-danger" asp-validation-for="NewWeekProgram.PlayTime"></span>
            </small>
        </div>
    </div>
    <div class="text-danger" asp-validation-summary=ModelOnly></div>
    <button class="mt-2 btn btn-primary">Speichern</button>
</form>

<table class="table table-sm">
    <thead>
        <tr>
            <th>Movie</th>
            <th>Genre</th>
            <th>Hall</th>
            <th>Duration</th>
            <th>PlayTime</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var w in Model.WeekProgram)
        {
                <tr>
                    <td>@w.MovieName</td>
                    <td>@w.Genre</td>
                    <td>@w.Hall</td>
                    <td>@w.Duration Minutes</td>
                    <td>On the @w.PlayTime.ToString("dd. @ HH:mm")</td>
                    <td>
                    <a asp-page="/Cinema/Details" asp-route-guid="@w.Guid">Details</a>
                    
                    </td>
                </tr>
        }
    </tbody>
</table>
<a href="/Cinema/Index">Return to Movie List</a>
